<!--Display all jobs -->
<div class="all jobs">
  <div class="job-title-wrapper">
    <h3>All Jobs</h3>
  </div>
  <%#= paginate @jobs %>
  <div class="row row-cols-1">
    <div class="job-content-wrapper">
      <%= render partial: "jobs/job", collection: @jobs %>
    </div>
  </div>
<%#= paginate @jobs %>
