<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-sm text-center">
      <%= link_to "#{industries_list.name} (#{industries_list.jobs_count})" %>
    </div>
  </div>
</div>
