<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-sm">
      <div class="text-center">
        <%= industries_list.name %>
        (<%= industries_list.jobs_count %> jobs)
      </div>
    </div>
  </div>
</div>
