<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item <%= content_for(:new_step) %>" aria-current="page">
      Apply New
    </li>
    <li class="breadcrumb-item <%= content_for(:confirm_step) %>">
      Apply Confirmation
    </li>
    <li class="breadcrumb-item <%= content_for(:done_step) %>">
      Apply Finish
    </li>
  </ol>
</nav>
