<div class="area-title-wrapper">
  <h3>Applied Jobs List</h3>
</div>
<div>
  <%= paginate @applies %>
  <div class="row row-cols-3">
    <%= render partial: "apply/apply", collection: @applies %>
  </div>
</div>
  <%= paginate @applies %>
