<div class="container">
  <div class="row justify-content-md-center">
    <div class="col text-center">
      <%= link_to "#{city.name} (#{city.jobs_count})", city_jobs_path(city.id) %>
    </div>
  </div>
</div>
