<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-sm text-center">
      <%= link_to "#{international_cities.name} (#{international_cities.jobs_count})" %>
    </div>
  </div>
</div>
