/* universal */

$font-stack: Arial,Helvetica, sans-serif;
$primary-color: #B6B6B6;
$sub-color: gainsboro;

body {
  margin: 0;
  font-family: $font-stack;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
  }
  h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
  }
}

/* header */

#logo {
  float: left;
  width: 50%;
}

#banner {
  width: 100%;
  padding: 0px;
}

.btn-outline-success {
  color: $sub-color;
  border-color:blue;
  background: #01548c;
}

.col {
  padding: 5px;
  margin: 5px;
  background-color: $primary-color;
}

.row {
  padding: 10px;
  margin: 10px;
  background-color: $sub-color;
}

.col-sm {
  margin: 10px;
  padding: 10px;
  background-color: $primary-color;
}

.form-inline-city {
  padding: 5px;
}

.form-inline-industry {
  padding: 5px;
}

.card-body-form {
  height: 300px;
  width: 300px;
  margin-top: auto;
  margin-bottom: auto;
  background-color: gainsboro !important;
  }

.card-header {
  background-color: rgba(28, 93, 233, 0.856);
  color: whitesmoke;
}
.card-footer-form {
  margin:50px;
}

.field {
  margin-left: 50px;
}

.login_btn{
  color: black;
  background-color: rgba(28, 93, 233, 0.856);
  width: 100px;
  margin: 10px;
}

.login_btn:hover {
  color: white;
  background-color: rgb(33, 195, 195);
}

.links {
  position: absolute;
  bottom: 20px;
  margin-left: 70px;
  top: 300px;
}
