<div class="card text-center">
  <div class="card-header">
    Footer
  </div>
  <div class="card-body">
    <h5 class="card-title">Venjob project</h5>
    <a href="#">@Copyright Zigexn Ventura 2019</a>
  </div>
</div>
