<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to image_tag("zigexn_logo.png", id: "logo", alt: "Venjob logo") %>
  <nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <%= link_to "Login", login_index_path, class:"btn btn-outline-success" %>
    <button class="btn btn-outline-success" type="button">Register</button>
    <button class="btn btn-outline-success" type="button">Favorite</button>
    <button class="btn btn-outline-success" type="button">History</button>
  </form>
  </nav>
    <%= link_to image_tag("banner.jpg", id: "banner", alt: "Venjob banner") %>
  </div>
</header>
